.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card-img-top {
  width: 200px;
  height: 200px;
  background-size: cover;
}

.product-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}